<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <form [formGroup]="addProductForm" (ngSubmit)="submitForm();">
    <mat-card class="add-product-card">
        <mat-card-header>
          <mat-card-title class="add-product-title">New Product</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">

          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput
              placeholder="Name"
              formControlName="name"
              required>
            <mat-error *ngFor="let validation of addProductValidationMessages.name">
              <mat-error class="error-message" data-test="nameError"
                        *ngIf="addProductForm.get('name').hasError(validation.type) && (addProductForm.get('name').dirty || addProductForm.get('name').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput
              placeholder="Description"
              formControlName="description"
              required>
            <mat-error *ngFor="let validation of addProductValidationMessages.description">
              <mat-error class="error-message" data-test="descriptionError"
                        *ngIf="addProductForm.get('description').hasError(validation.type) && (addProductForm.get('description').dirty || addProductForm.get('description').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Brand</mat-label>
            <input matInput
              placeholder="Brand"
              formControlName="brand"
              required>
            <mat-error *ngFor="let validation of addProductValidationMessages.brand">
              <mat-error class="error-message" data-test="brandError"
                        *ngIf="addProductForm.get('brand').hasError(validation.type) && (addProductForm.get('brand').dirty || addProductForm.get('brand').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select required formControlName="category">
              <mat-option value="dry goods">Dry goods</mat-option>
              <mat-option value="bakery">Bakery</mat-option>
              <mat-option value="produce">Produce</mat-option>
              <mat-option value="deli">Deli</mat-option>
              <mat-option value="canned good">Canned good</mat-option>
              <mat-option value="cereals">Cereals</mat-option>
              <mat-option value="seafood">Seafood</mat-option>
              <mat-option value="desserts">Desserts</mat-option>
            </mat-select>
            <mat-error *ngIf="addProductForm.get('category').hasError('required')">You must make a selection</mat-error>
            <mat-error *ngIf="addProductForm.get('category').hasError('pattern') && !addProductForm.get('category').hasError('required')">
              Your selection is invalid
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Store</mat-label>
            <mat-select required formControlName="store">
              <mat-option value="willey\'s">Willey's</mat-option>
              <mat-option value="Pomme de Terre Food Coop">Pomme de Terre Food Coop</mat-option>
            </mat-select>
            <mat-error *ngIf="addProductForm.get('store').hasError('required')">You must make a selection</mat-error>
            <mat-error *ngIf="addProductForm.get('store').hasError('pattern') && !addProductForm.get('store').hasError('required')">
              Your selection is invalid
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Location</mat-label>
            <input matInput
              placeholder="Location"
              formControlName="location"
              required>
            <mat-error *ngFor="let validation of addProductValidationMessages.location">
              <mat-error class="error-message" data-test="locationError"
                        *ngIf="addProductForm.get('location').hasError(validation.type) && (addProductForm.get('location').dirty || addProductForm.get('location').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Notes</mat-label>
            <input matInput
              placeholder="Notes"
              formControlName="notes"
              required>
            <mat-error *ngFor="let validation of addProductValidationMessages.notes">
              <mat-error class="error-message" data-test="notesError"
                        *ngIf="addProductForm.get('notes').hasError(validation.type) && (addProductForm.get('notes').dirty || addProductForm.get('notes').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Tags</mat-label>
            <input matInput
              placeholder="Tags"
              formControlName="tags"
              required>
            <mat-error *ngFor="let validation of addProductValidationMessages.tags">
              <mat-error class="error-message" data-test="tagsError"
                        *ngIf="addProductForm.get('tags').hasError(validation.type) && (addProductForm.get('tags').dirty || addProductForm.get('tags').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Lifespan</mat-label>
            <input matInput
              type="number"
              placeholder="Lifespan"
              formControlName="lifespan"
              required>
            <mat-error *ngFor="let validation of addProductValidationMessages.lifespan">
              <mat-error class="error-message" data-test="lifespanError"
                        *ngIf="addProductForm.get('lifespan').hasError(validation.type) && (addProductForm.get('lifespan').dirty || addProductForm.get('lifespan').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Threshold</mat-label>
            <input matInput
              type="number"
              placeholder="Threshold"
              formControlName="threshold"
              required>
            <mat-error *ngFor="let validation of addProductValidationMessages.threshold">
              <mat-error class="error-message" data-test="thresholdError"
                        *ngIf="addProductForm.get('threshold').hasError(validation.type) && (addProductForm.get('threshold').dirty || addProductForm.get('threshold').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

        </mat-card-content>

        <mat-card-actions align="end">
          <button
            mat-button
            type="button"
            color="primary"
            [disabled]="!addProductForm.valid"
            type="submit"
            data-test="confirmAddProductButton"
          >
            ADD PRODUCT
          </button>
        </mat-card-actions>
    </mat-card>
  </form>
  </div>
</div>

