<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <form [formGroup]="addProductForm" (ngSubmit)="submitForm();">
    <mat-card class="add-product-card">

        <mat-card-header>
          <mat-card-title class="add-product-title">Add New Product</mat-card-title>
          <mat-card-subtitle>Welcome! You are in the process of adding a product to the library. <br>
            Please fill in the corresponding information according to the instructions in the form below. <br>
            <b>We recommend you search whether the item is already in the library before adding it to avoid repeatedly adding the product.</b></mat-card-subtitle>
        </mat-card-header>

        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>

          <!-- Group of Step 1 -->
          <mat-step [stepControl]="productBasicInfo">
            <form [formGroup]="productBasicInfo">
              <ng-template matStepLabel>Product Basic Information</ng-template>

              <mat-form-field class="add-product-elements" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput
                  placeholder="Product Name"
                  formControlName="firstCtrl"
                  required>
                <mat-error *ngFor="let validation of addProductValidationMessages.name">
                  <mat-error class="error-message" data-test="nameError"
                            *ngIf="addProductForm.get('name').hasError(validation.type) && (addProductForm.get('name').dirty || addProductForm.get('name').touched)">
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="add-product-elements" appearance="outline">
                <mat-label>Brand</mat-label>
                <input matInput
                  placeholder="Product Brand"
                  formControlName="firstCtrl"
                  required>
                <mat-error *ngFor="let validation of addProductValidationMessages.brand">
                  <mat-error class="error-message" data-test="brandError"
                            *ngIf="addProductForm.get('brand').hasError(validation.type) && (addProductForm.get('brand').dirty || addProductForm.get('brand').touched)">
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="add-product-elements" appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select required formControlName="firstCtrl">
                  <mat-option value="dry goods">Dry goods</mat-option>
                  <mat-option value="bakery">Bakery</mat-option>
                  <mat-option value="produce">Produce</mat-option>
                  <mat-option value="deli">Deli</mat-option>
                  <mat-option value="canned good">Canned good</mat-option>
                  <mat-option value="cereals">Cereals</mat-option>
                  <mat-option value="seafood">Seafood</mat-option>
                  <mat-option value="desserts">Desserts</mat-option>
                </mat-select>
                <mat-error *ngIf="addProductForm.get('category').hasError('required')">You must make a selection</mat-error>
                <mat-error *ngIf="addProductForm.get('category').hasError('pattern') && !addProductForm.get('category').hasError('required')">
                  Your selection is invalid
                </mat-error>
              </mat-form-field>

              <mat-form-field class="add-product-elements" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput
                  placeholder="Product Description"
                  formControlName="firstCtrl"
                  required>
                </textarea>
                <mat-error *ngFor="let validation of addProductValidationMessages.description">
                  <mat-error class="error-message" data-test="descriptionError"
                            *ngIf="addProductForm.get('description').hasError(validation.type) && (addProductForm.get('description').dirty || addProductForm.get('description').touched)">
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>

              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

          <!-- Group of Step 2 -->
          <mat-step [stepControl]="productStoreInfo">
            <form [formGroup]="productStoreInfo">
              <ng-template matStepLabel>Product Store Information</ng-template>

              <mat-form-field class="add-product-elements" appearance="outline">
                <mat-label>Store</mat-label>
                <mat-select required formControlName="secondCtrl">
                  <mat-option value="willey\'s">Willey's</mat-option>
                  <mat-option value="pomme de terre food coop">Pomme de Terre Food Coop</mat-option>
                  <mat-option value="other">Other</mat-option>
                </mat-select>
                <mat-error *ngIf="addProductForm.get('store').hasError('required')">You must make a selection</mat-error>
                <mat-error *ngIf="addProductForm.get('store').hasError('pattern') && !addProductForm.get('store').hasError('required')">
                  Your selection is invalid
                </mat-error>
              </mat-form-field>

              <mat-form-field class="add-product-elements" appearance="outline">
                <mat-label>Location</mat-label>
                <input matInput
                  placeholder="Location"
                  formControlName="secondCtrl"
                  required>
                <mat-error *ngFor="let validation of addProductValidationMessages.location">
                  <mat-error class="error-message" data-test="locationError"
                            *ngIf="addProductForm.get('location').hasError(validation.type) && (addProductForm.get('location').dirty || addProductForm.get('location').touched)">
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>

              <div>
                <button mat-button matStepperPrevious>Previous</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

          <!-- Group of Step 3 -->
          <mat-step [stepControl]="productStorageInfo">
            <form [formGroup]="productStorageInfo">
              <ng-template matStepLabel>Product Storage Information</ng-template>

              <mat-form-field class="add-product-elements" appearance="outline">
                <mat-label>Lifespan</mat-label>
                <input matInput
                  type="number"
                  placeholder="Lifespan"
                  formControlName="thirdCtrl"
                  required>
                <mat-error *ngFor="let validation of addProductValidationMessages.lifespan">
                  <mat-error class="error-message" data-test="lifespanError"
                            *ngIf="addProductForm.get('lifespan').hasError(validation.type) && (addProductForm.get('lifespan').dirty || addProductForm.get('lifespan').touched)">
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="add-product-elements" appearance="outline">
                <mat-label>Threshold</mat-label>
                <input matInput
                  type="number"
                  placeholder="Threshold"
                  formControlName="thirdCtrl"
                  required>
                <mat-error *ngFor="let validation of addProductValidationMessages.threshold">
                  <mat-error class="error-message" data-test="thresholdError"
                            *ngIf="addProductForm.get('threshold').hasError(validation.type) && (addProductForm.get('threshold').dirty || addProductForm.get('threshold').touched)">
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>

              <div>
                <button mat-button matStepperPrevious>Previous</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

          <!-- Group of Step 4 -->
          <mat-step [stepControl]="productExtraInfo" [optional]="true">
            <form [formGroup]="productExtraInfo">
              <ng-template matStepLabel>Product Extra Information</ng-template>

              <mat-form-field class="add-product-elements" appearance="outline">
                <mat-label>Notes</mat-label>
                <textarea matInput
                  placeholder="Notes"
                  formControlName="fourthCtrl"
                  required>
                </textarea>
                <mat-error *ngFor="let validation of addProductValidationMessages.notes">
                  <mat-error class="error-message" data-test="notesError"
                            *ngIf="addProductForm.get('notes').hasError(validation.type) && (addProductForm.get('notes').dirty || addProductForm.get('notes').touched)">
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="add-product-elements" appearance="outline">
                <mat-label>Tags</mat-label>
                <mat-chip-list #chipList aria-label="Tags">
                  <mat-chip *ngFor="let tag of tags" (removed)="removeTags(tag)">
                    {{tag.keyword}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input placeholder="Tags"
                         [matChipInputFor] = "chipList"
                         [matChipInputSeparatorKeyCodes] = "separatorKeysCodes"
                         [matChipInputAddOnBlur] = "addOnBlur"
                         (matChipInputTokenEnd) = "addTags($event)">
                </mat-chip-list>
                <mat-error *ngFor="let validation of addProductValidationMessages.tags">
                  <mat-error class="error-message" data-test="tagsError"
                            *ngIf="addProductForm.get('tags').hasError(validation.type) && (addProductForm.get('tags').dirty || addProductForm.get('tags').touched)">
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>

              <div>
                <button mat-button matStepperPrevious>Previous</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </form>
          </mat-step>
        </mat-stepper>

        <mat-card-actions align="end">
          <button
            mat-button
            type="button"
            color="primary"
            [disabled]="!addProductForm.valid"
            type="submit"
            data-test="confirmAddProductButton"
          >
            ADD PRODUCT
          </button>
        </mat-card-actions>
    </mat-card>
  </form>
  </div>
</div>

