<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card class="title-card">
      <mat-card-title class="pantry-list-title">Pantry Management</mat-card-title>
      <mat-card-subtitle class="pantry-list-description">Welcome to the pantry search page!<br>You can search all pantrys here.</mat-card-subtitle>
    </mat-card>

  </div>
</div>

<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      class="filter-card">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{panelOpenState ? 'Collapse Filters':'Expand Filters'}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card-content fxLayout="column" >
          <div fxLayout="row wrap" fxLayoutGap="10px">
            <!-- Examples of filtering in XXX (update after decide) -->
            <!-- Current the code below are filter on Client -->

            <mat-form-field class="input-field">
              <mat-label>Product</mat-label>
              <input matInput data-test="pantryProductIdInput" placeholder="Filter by productId"
              [(ngModel)]="prodID" (input)="updateFilter()">
              <mat-hint>Filtered on XXX (Need Update)</mat-hint>
            </mat-form-field>

            <mat-form-field class="input-field">
              <mat-label>PurchaseDate</mat-label>
              <input matInput data-test="pantryPurchaseDateInput" placeholder="Filter by purchaseDate"
              [(ngModel)]="date" (input)="updateFilter()">
              <mat-hint>Filtered on XXX (Need Update)</mat-hint>
            </mat-form-field>

            <mat-form-field class="input-field">
              <mat-label>Name</mat-label>
              <input matInput data-test="pantryNameInput" placeholder="Filter by name"
              [(ngModel)]="name" (input)="updateFilter()">
              <mat-hint>Filtered on XXX (Need Update)</mat-hint>
            </mat-form-field>
          </div>

        </mat-card-content>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>


<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredPantrys; else pantrysError" >
    <!-- List view -->
      <mat-card-content>
        <mat-nav-list class="pantry-nav-list">
          <h3 mat-subheader>Pantrys</h3>
          <a mat-list-item *ngFor="let pantry of this.filteredPantrys" [routerLink]="['/pantry', pantry._id]" class="pantry-list-item">
            <h3 matLine class="pantry-list-name"> {{pantry.name}} </h3>
            <p matLine class="pantry-list-date"> {{pantry.date}} </p>
          </a>
        </mat-nav-list>
      </mat-card-content>
  </div>

  <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
  <ng-template #pantrysError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="pantry-error">
      <mat-error>
        There was a problem loading the pantry. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again or start the server.
      </mat-error>
    </div>
  </ng-template>

</div>

<button mat-fab class="add-pantry-fab" matTooltip="Add Pantry Product" matTooltipPosition="right" routerLink="/pantry/new" data-test="addPantryButton">
  <mat-icon class="md-24" aria-label="Add Pantry Product">add</mat-icon>
</button>
