<mat-card class="product-card" *ngIf="this.product">
  <mat-card-header>
    <img mat-card-image [src]="this.product.image" class="product-image" *ngIf="this.product.image">
    <mat-card-title class="product-card-name">{{ this.product.name }}</mat-card-title>
    <mat-card-subtitle class="product-card-brand">{{ this.product.brand }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="!this.simple">
    <p>Category: <span class="product-card-category">{{ this.product.category }}</span></p>
    <p>Lifespan: <span class="product-card-lifespan">{{ this.product.lifespan }}</span></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button data-test="viewProfileButton" *ngIf="this.simple" [routerLink]="['/product', this.product._id]">View Profile</button>
  </mat-card-actions>
</mat-card>
